#buttons-view button {
  margin: 10px;
}
img {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.giphy {
  float: left;
}

p {
  margin: 0px 0px 2px 5px;
  color: aliceblue;
}

body {
  background-color: #160f24;
}
